<%- include ('./partials/header') -%>  

       <!-- Main content Start -->
        <div class="main-content">
            <!-- Breadcrumbs Start -->
            <div class="rs-breadcrumbs breadcrumbs-overlay">
                <div class="breadcrumbs-img">
                    <img src="assets/images/contact.jpg" alt="Breadcrumbs Image">
                </div>
                <div class="breadcrumbs-text white-color">
                    <h1 class="page-title">Gallery</h1>
                    <ul>
                         <li>
                            <a class="active" href="index.php">Home</a>
                        </li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumbs End -->            

            <!-- Events Section Start -->
            <div class="rs-gallery pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                   <div class="row">
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">
                                <a class="image-popup" href="assets/images1.jpg"><img src="assets/images/g1.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">
                                <a class="image-popup" href="assets/images2.jpg"><img src="assets/images/g2.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images3.jpg"><img src="assets/images/g3.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images4.jpg"><img src="assets/images/g4.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images5.jpg"><img src="assets/images/g5.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images6.jpg"><img src="assets/images/g6.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images7.jpg"><img src="assets/images/g7.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images8.jpg"><img src="assets/images/g8.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images9.jpg"><img src="assets/images/g9.jpg" alt="Image"></a>
                            </div>
                       </div>
                       <div class="col-lg-4 md-mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images10.jpg"><img src="assets/images/g10.jpg" alt=""></a>
                            </div>
                       </div>
                       <div class="col-lg-4 sm-mb-30 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images11.jpg"><img src="assets/images/g11.jpg" alt=""></a>
                            </div>
                       </div> 
                       <div class="col-lg-4 col-md-6">
                            <div class="gallery-img">                                
                                <a class="image-popup" href="assets/images12.jpg"><img src="assets/images/g12.jpg" alt=""></a>
                            </div>
                       </div>
                   </div>
                </div> 
            </div>
            <!-- Events Section End -->

<%- include ('./partials/header') -%>  